@model PagedList.IPagedList<Panchayat.InOutRegsIssue>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<center class="section-to-print">
    @if (ViewBag.RegisterTypeID == 17)
    {
        <h2>Register Of Stock  Of Consumable Store And Stationary: Issues</h2>}
    @if (ViewBag.RegisterTypeID == 18)
    {
        <h2>Stamp: Issues</h2>
    }
    @if (ViewBag.RegisterTypeID == 19)
    {
        <h2>Dead Stock: Issues</h2>
    }
    @if (ViewBag.RegisterTypeID == 20)
    {
        <h2>Register Street Light Articles: Issues</h2>
    }
</center>
<br class="section-to-Not-print" />
<br class="section-to-Not-print" />
<center class="section-to-Not-print">
    @using (Html.BeginForm("Index", "InOutRegsIssues", FormMethod.Get))
    {
        @Html.Hidden("rt", (int)ViewBag.RegisterTypeID)
        <div class="row">
            <div>
                <table>
                    <tr>
                        <td></td>
                        <td> Date Of Issue:</td>
                        <td> @Html.TextBox("di", ViewBag.CurrentFilter as string, new { type = "date", @class = "form-control" })</td>

                        <td class="col-lg-1"></td>
                        <td><input type="submit" value="Search" class="btn btn-default" /></td>
                    </tr>
                </table>
            </div>
        </div>
        <br />
    }
</center>

<p class="section-to-Not-print">
    @Html.ActionLink("Create New", "Create", new { rt = ViewBag.RegisterTypeID })
    <span class="pull-right">
        <input type="button" onclick="javascript:window.print();" value="Print" class="eabutton section-to-not-print" />
    </span>
</p>
@if (ViewBag.RegisterTypeID == 20)
{
    <table class="table section-to-print">
        <tr>

            <th>
                Date of Purchase
            </th>
            <th>
                V. No
            </th>
            <th>
                No. Of Articles Purchased
            </th>
            <th>
                Amount Paid
            </th>
            <th>
                No. Of Articles Disposed
            </th>
            <th>
                Balance Stock
            </th>
            <th>
                Pole No to Which Replaced
            </th>
            <th>
                Signature of The Reciever
            </th>
            <th>
                Initials of the V.P secretary
            </th>
            <th>
                Remarks
            </th>

            <th class="section-to-Not-print"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.TDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RVno)

                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Qty)

                </td>
                <td>
                    @{ int a = (int)item.Qty, b = (int)item.Value, c = 0;
                        c = a * b;
                    }
                    @c
                </td>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssuedTo)
                </td>
                <td></td>
                <td></td>

                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td class="section-to-Not-print">
                    @Html.ActionLink("Edit", "Edit", new { id = item.IOissueID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IOissueID }) |

                </td>
            </tr>
                        }

    </table>
                        }
                    else
                                            {

                            <table class="table section-to-print">
                                <tr>

                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Particulars of Articles Issued
                                    </th>
                                    <th>
                                        To Whom Issued
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Total
                                    </th>
                                    <th>
                                        Balance After Issues
                                    </th>
                                    <th>
                                        Signature Of Issuing Authority
                                    </th>


                                    <th class="section-to-Not-print"></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.TDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InvItem.Item)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IssuedTo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Qty)
                                        </td>
                                        <td>
                                            @*@{ int a = (int)item.Qty, b = (int)item.Value, c = 0;
                                                c = a * b;
                                            }
                                            @c*@
                                            @Html.DisplayFor(modelItem => item.Qty)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Balance)
                                        </td>
                                        <td></td>



                                        <td class="section-to-Not-print">
                                            @Html.ActionLink("Edit", "Edit", new { id = item.IOissueID }) 
                                        </td>
                                    </tr>
                                                }

                            </table>
                                                }
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

  
        @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, rt = ViewBag.RegisterTypeID }))
