@model IEnumerable<Panchayat.InOutRegsIssue>

@{
    ViewBag.Title = "Index";
}

<center class="section-to-print">
@if (ViewBag.RegisterTypeID == 17)
{
    <h4>Register Of Stock  Of Consumable Store And Stationary</h4>}
@if (ViewBag.RegisterTypeID == 18)
{
    <h4>Stamp</h4>
}
@if (ViewBag.RegisterTypeID == 19)
{
    <h4>DeadStock</h4>
}
    </center>

<p class="section-to-Not-print">
    @Html.ActionLink("Create New", "Create", new { rt = ViewBag.RegisterTypeID })
    <span class="pull-right">
        <input type="button" onclick="javascript:window.print();" value="Print" class="eabutton section-to-not-print" />
    </span>
</p>
<table class="table section-to-print">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.TDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuedTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RVno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterType.RegisterType1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvItem.Item)
        </th>
        <th class="section-to-Not-print"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
    
        <td>
            @Html.DisplayFor(modelItem => item.TDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssuedTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RVno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisterType.RegisterType1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvItem.Item)
        </td>
        <td class="section-to-Not-print">
            @Html.ActionLink("Edit", "Edit", new { id=item.IOissueID }) |
            @Html.ActionLink("Details", "Details", new { id=item.IOissueID }) |
          
        </td>
    </tr>
}

</table>
