@model Panchayat.Inward

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.Hidden("RegisterTypeID", (int)ViewBag.RegisterTypeID);
    <div class="form-horizontal">
        @if (ViewBag.RegisterTypeID == 2)
        {
            <h4>Inward Correspondence</h4>
        }
        @if (ViewBag.RegisterTypeID == 9)
        {
            <h4>Govt. Department Reference</h4>
        }
        @if (ViewBag.RegisterTypeID == 10)
        {
            <h4>Register Of Birth</h4>
        }


        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @if (ViewBag.RegisterTypeID == 2)
            {
                <label class="control-label col-md-2">Date Of Receipt:</label>
            }
            @if (ViewBag.RegisterTypeID == 9)
            {
                <label class="control-label col-md-2">Date Of Receipt:</label>
            }
            @if (ViewBag.RegisterTypeID == 10)
            {
                <label class="control-label col-md-2">Date Of Registration:</label>
            }
           
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfReciept, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.DateOfReciept, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @if (ViewBag.RegisterTypeID == 2)
            {
                <label class="control-label col-md-2">From Where Recieved:</label>
            }
            @if (ViewBag.RegisterTypeID == 9)
            {
                <label class="control-label col-md-2">From Where recieved:</label>
            }
            @if (ViewBag.RegisterTypeID == 10)
            {
                <label class="control-label col-md-2">Adress Of Birth:</label>
            }
           
            <div class="col-md-10">
                @Html.EditorFor(model => model.FromWhereRec, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FromWhereRec, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @if (ViewBag.RegisterTypeID == 2)
            {
                <label class="control-label col-md-2">No Of Letter:</label>
            }
            @if (ViewBag.RegisterTypeID == 9)
            {
                <label class="control-label col-md-2">No Of Letter:</label>
            }
            @if (ViewBag.RegisterTypeID == 10)
            {
                <label class="control-label col-md-2">Father's name:</label>
            }
            
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoOfLett, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NoOfLett, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @if (ViewBag.RegisterTypeID == 2)
            {
                <label class="control-label col-md-2">Date Of Letter:</label>
            }
            @if (ViewBag.RegisterTypeID == 9)
            {
                <label class="control-label col-md-2">Date Of Letter:</label>
            }
            @if (ViewBag.RegisterTypeID == 10)
            {
                <label class="control-label col-md-2">Date Of Birth:</label>
            }
           
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfLett, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.DateOfLett, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @if (ViewBag.RegisterTypeID == 2)
            {
                <label class="control-label col-md-2">File No:</label>
            }
            @if (ViewBag.RegisterTypeID == 9)
            {
                <label class="control-label col-md-2">File No:</label>
            }
            @if (ViewBag.RegisterTypeID == 10)
            {
                <label class="control-label col-md-2">File No:</label>
            }
           
            <div class="col-md-10">
                @Html.EditorFor(model => model.FileNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FileNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @if (ViewBag.RegisterTypeID == 10)
            {
                <label class="control-label col-md-2">Name of Baby:</label>
            } else
            {
                <label class="control-label col-md-2">Subject Matter:</label>
            }
            <div class="col-md-10">
                @Html.EditorFor(model => model.SubjectMatter, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubjectMatter, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @if (ViewBag.RegisterTypeID == 2)
            {
                <label class="control-label col-md-2">Action taken on:</label>
            }
            @if (ViewBag.RegisterTypeID == 9)
            {
                <label class="control-label col-md-2">Action taken on:</label>
            }
            @if (ViewBag.RegisterTypeID == 10)
            {
                <label class="control-label col-md-2">Father's Birthday:</label>
            }
          
            <div class="col-md-10">
                @Html.EditorFor(model => model.ActionTaken, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.ActionTaken, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remark,"Remarks:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index",new { rt = (int)ViewBag.RegisterTypeID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
