@model PagedList.IPagedList<Panchayat.Inward>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    table {
        page-break-inside: auto
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto
    }

    thead {
        display: table-header-group
    }

    tfoot {
        display: table-footer-group
    }
</style>
<center>
    <h2 class="section-to-print">
        @if (ViewBag.RegisterTypeID == 2)
        {
            <p>Inward Correspondence</p>
        }
        @if (ViewBag.RegisterTypeID == 9)
        {
            <p>Govt. Dept Reference</p>
        }
        @if (ViewBag.RegisterTypeID == 10)
        {
            <p>Register Of Birth</p>
        }
        </h2>
</center>
<br class="section-to-Not-print"/>
<br class="section-to-Not-print"/>
<center class="section-to-Not-print">
    @using (Html.BeginForm("Index", "Inwards", FormMethod.Get))
    {
        @Html.Hidden("rt", (int)ViewBag.RegisterTypeID)
        <div class="row">
            <div>
                <table width="80%">
                    <tr>
                        <td></td>
                        <td align="right"> Date Of Reciept:</td>
                        <td> @Html.TextBox("dr", ViewBag.CurrentFilter as string, new { type = "date", @class = "form-control" })</td>
                        <td align="right"> Date Of Letter:</td>
                        <td> @Html.TextBox("dl", ViewBag.CurrentFilter as string, new { type = "date", @class = "form-control" })</td>
                        <td class="col-lg-1"></td>
                        <td><input type="submit" value="Search" class="btn btn-default" /></td>
                    </tr>
                </table>
            </div>
        </div>
        <br />
    }
</center>
<p class="section-to-Not-print">
    @if (ViewBag.RegisterTypeID == 2)
    {
    <p>@Html.ActionLink("Create New", "Create", new { rt = 2})</p>
    }
    @if (ViewBag.RegisterTypeID == 9)
    {
        <p>@Html.ActionLink("Create New", "Create", new { rt = 9 }) </p>
    }
    @if (ViewBag.RegisterTypeID == 10)
    {
        <p>@Html.ActionLink("Create New", "Create", new { rt = 10 }) </p>
    }

<span class="pull-right">
    <input type="button" onclick="javascript:window.print();" value="Print" class="eabutton section-to-not-print" />
</span>
</p>

<table class="table section-to-print">
    <tr>
        <th>
            Sr No
        </th>
        <th>
           @if (ViewBag.RegisterTypeID == 2)
           {
            <p>Date Of Reciept</p>
           }
        @if (ViewBag.RegisterTypeID == 9)
        {
            <p>Date Of Reciept</p>
        }
        @if (ViewBag.RegisterTypeID == 10)
        {
            <p>Date Of Registration</p>
        }
        </th>
        <th>
           @if (ViewBag.RegisterTypeID == 2)
           {
            <p>From Where Recieved</p>
           }
        @if (ViewBag.RegisterTypeID == 9)
        {
            <p>From Where Recieved</p>
        }
        @if (ViewBag.RegisterTypeID == 10)
        {
            <p>Address Of Birth</p>
        }
        </th>
        <th>
          @if (ViewBag.RegisterTypeID == 2)
          {
            <p>No Of Letter</p>
          }
        @if (ViewBag.RegisterTypeID == 9)
        {
            <p>No Of letter</p>
        }
        @if (ViewBag.RegisterTypeID == 10)
        {
            <p>Father's name</p>
        }
        </th>
        <th>
            @if (ViewBag.RegisterTypeID == 2)
            {
                <p>Date Of Letter</p>
            }
            @if (ViewBag.RegisterTypeID == 9)
            {
                <p>Date Of Letter</p>
            }
            @if (ViewBag.RegisterTypeID == 10)
            {
                <p>Date Of Birth</p>
            }
        </th>
        <th>
            @if (ViewBag.RegisterTypeID == 2)
            {
                <p>File No</p>
            }
            @if (ViewBag.RegisterTypeID == 9)
            {
                <p>File No</p>
            }
            @if (ViewBag.RegisterTypeID == 10)
            {
                <p>File No</p>
            }
        </th>
        <th>
            @if (ViewBag.RegisterTypeID == 2)
            {
                <p>Subject Matter</p>
            }
            @if (ViewBag.RegisterTypeID == 9)
            {
                <p>Subject Matter</p>
            }
            @if (ViewBag.RegisterTypeID == 10)
            {
                <p>Name of Baby</p>
            }
        </th>
        <th>
            @if (ViewBag.RegisterTypeID == 2)
            {
                <p>Action Taken on</p>
            }
            @if (ViewBag.RegisterTypeID == 9)
            {
                <p>Action Taken on</p>
            }
            @if (ViewBag.RegisterTypeID == 10)
            {
                <p>Fathers Birthday</p>
            }
        </th>
        <th>
          Remarks
        </th>
     
        <th></th>

    </tr>
    <tr>
        @for (int c = 1; c < 10; c++)
            {
            <th>@c</th>
        }
        <th></th>
    </tr>
@{ 
    var i = 1;
}
@foreach (var item in Model) {
    <tr>
        <td>
            @i
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfReciept)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromWhereRec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfLett)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfLett)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectMatter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActionTaken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
   
        <td class="section-to-Not-print">
            @Html.ActionLink("Edit", "Edit", new { id=item.InwardID }) 
        </td>
    </tr>
    i++;
}

</table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    
        @Html.PagedListPager(Model, page => Url.Action("Index",new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, rt = ViewBag.RegisterTypeID }))
    