@model Panchayat.IllegalConstruction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>
        @if (ViewBag.RegisterTypeID == 6)
        {
            <p>Public Griveance</p>
        }
        @if (ViewBag.RegisterTypeID == 4)
        {
            <p>Illegal Constrution</p>
        }</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Date Of Completion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfComp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfPr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfPr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressOfPr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressOfPr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NatOfCon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NatOfCon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OccasOfCons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OccasOfCons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionTaken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionTaken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisterType.RegisterType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterType.RegisterType1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IllegalConID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
