@model PagedList.IPagedList<Panchayat.IllegalConstruction>
@using PagedList.Mvc;




@{
    ViewBag.Title = "Index";
}
<center>
    <h2 class="section-to-print">
        @if (ViewBag.RegisterTypeID == 6)
        {
            <p>Public Grievance</p>
        }
        @if (ViewBag.RegisterTypeID == 4)
        {
            <p>Register of the Complaint of Illegal Construction</p>
        }
        @if (ViewBag.RegisterTypeID == 7)
        {
            <p>Court Matters</p>
        }
    
    
    </h2>
    <br/>
   <p class="section-to-Not-print">
        @using (Html.BeginForm("Index", "IllegalConstructions", FormMethod.Get))
        {
            @Html.Hidden("rt", (int) ViewBag.RegisterTypeID)
            <div class="row">
                <div>
                    <table>
                        <tr>
                            <td></td>
                            <td> Date Of Complain:</td>
                            <td> @Html.TextBox("dc", ViewBag.CurrentFilter as string, new { type = "date", @class = "form-control" })</td>

                            <td class="col-lg-1"></td>
                            <td><input type="submit" value="Search" class="btn btn-default" /></td>
                        </tr>
                    </table>




                </div>
            </div>
        }
   </p>   
</center>
<br class="section-to-Not-print" />
<div class="section-to-Not-print">
    @if (ViewBag.RegisterTypeID == 6)
    {
    <p>@Html.ActionLink("Create New", "Create", new { rt = 6})</p>
    }
   @if (ViewBag.RegisterTypeID == 4)
   {
        <p>@Html.ActionLink("Create New", "Create", new { rt = 4 }) </p>
    }
@if (ViewBag.RegisterTypeID == 7)
{
    <p>@Html.ActionLink("Create New", "Create", new { rt = 7 }) </p>
}

    <span class="pull-right">
        <input type="button" onclick="javascript:window.print();" value="Print" class="eabutton section-to-not-print" />
    </span>
</div>
<table class="table section-to-print">
    <tr><th>Sr No</th>
        <th>
           Date Of The Reciept Of the Complaint
        </th>
        <th>
           Name And Address Of Complaint
        </th>
        <th>
            @if (ViewBag.RegisterTypeID == 4)
            {
                <p>Name And Adress Of Person Doing Illegal Construction</p>
            }
            else
            {
                <p>Name And Adress Of Offender</p>
            }
        </th>
        <th>
           
                @if(ViewBag.RegisterTypeID == 6)
                {
                    <p>Nature of Complaint</p>
                }
                @if (ViewBag.RegisterTypeID == 4)
                {
                   <p>Nature Of Constrution</p>
                }
               @if (ViewBag.RegisterTypeID == 7)
                {
                    <p>Nature of Matter</p>
                }



        </th>
        <th>
            @if (ViewBag.RegisterTypeID == 6)
            {
                <p>Occasion of Complain</p>
            }
            @if (ViewBag.RegisterTypeID == 4)
            {
                <p>Occasion Of Constrution</p>
            }
            @if (ViewBag.RegisterTypeID == 7)
            {
                <p>Occasion of Matter</p>
            }

        </th>
        <th>
           Action Taken
        </th>
        <th>
            Remarks
        </th>
    
        <th></th>
    </tr>
    <tr>
        @for (int c = 1; c < 9; c++)
            {
            <th>@c</th>
        }
        <th></th>
    </tr>
    @{var i=1; }
@foreach (var item in Model) {
    <tr>
        <td>
            @i
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfComp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfPr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressOfPr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NatOfCon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OccasOfCons)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActionTaken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
     
        <td class="section-to-Not-print">           
                @Html.ActionLink("Edit", "Edit", new { id = item.IllegalConID })                       
        </td>
    </tr>
    i++;
}

</table>

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@if (ViewBag.RegisterTypeID == 7)
{
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, rt = 7 }))
}
@if (ViewBag.RegisterTypeID == 6)
{
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, rt = 6 }))
}
@if (ViewBag.RegisterTypeID == 4)
{
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, rt = 4 }))
}