@model PagedList.IPagedList<Panchayat.Noc>
@using PagedList.Mvc
<style type="text/css">
    table {
        page-break-inside: auto
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto
    }

    thead {
        display: table-header-group
    }

    tfoot {
        display: table-footer-group
    }
</style>
@{
    ViewBag.Title = "Index";
}
<center>
    <h2 class="section-to-print">
        @if (ViewBag.RegisterTypeID == 12)
    {
        <p>Register Of Noc's/Income Certificate & Certificate Issued By The Village Panchayat </p>

    }
    @if (ViewBag.RegisterTypeID == 13)
    {
        <p>Noc Electric Connection</p>
    }
    @if (ViewBag.RegisterTypeID == 14)
    {
        <p>Noc Water</p>
    }

    @if (ViewBag.RegisterTypeID == 15)
    {
        <p>Noc Trade</p>
    }
    @if (ViewBag.RegisterTypeID == 16)
    {
        <p>Noc Bar</p>
    }
</h2>
    <br />

    @using (Html.BeginForm("Index", "Nocs", FormMethod.Get))
    {
        @Html.Hidden("rt", (int)ViewBag.RegisterTypeID)
        <div class="row section-to-Not-print">
            <div>
                <table>
                    <tr style="text-align:center">
                        <td></td>
                        <td>&nbsp; Date Of Reciept:</td>
                        <td> @Html.TextBox("dor", ViewBag.CurrentFilter as string, htmlAttributes: new { type = "date", @class = "form-control" })</td>

                        <td>&nbsp; Date Of VP Meeting:</td>
                        <td> @Html.TextBox("dov", ViewBag.CurrentFilter as string, new { type = "date", @class = "form-control" })</td>


                        <td>&nbsp; Date Of Issue:</td>
                        <td> @Html.TextBox("doi", ViewBag.CurrentFilter as string, new { type = "date", @class = "form-control" })</td>
                                                
                        <td class="col-lg-1"></td>
                        <td><input type="submit" value="Search" class="btn btn-default" /></td>
                    </tr>
                </table>




            </div>
        </div>
    }
</center>
<br />
<br />
<p>
    @if (ViewBag.RegisterTypeID == 12)
    {
        @Html.ActionLink("Create New", "Create", new { rt = 12 })
    }
    @if (ViewBag.RegisterTypeID == 13)
    {
        @Html.ActionLink("Create New", "Create", new { rt = 13 })
    }
    @if (ViewBag.RegisterTypeID == 14)
    {
        @Html.ActionLink("Create New", "Create", new { rt = 14 })
    }
    @if (ViewBag.RegisterTypeID == 15)
    {
        @Html.ActionLink("Create New", "Create", new { rt = 15 })
    }
    @if (ViewBag.RegisterTypeID == 16)
    {
        @Html.ActionLink("Create New", "Create", new { rt = 16 })
    }
    <span class="pull-right">
        <input type="button" onclick="javascript:window.print();" value="Print" class="eabutton section-to-not-print" />
    </span>
   
</p>
<table class="table section-to-print">
    <tr>
        <th>
            @if (ViewBag.RegisterTypeID == 12)
            {
              <p>Date Of Reciept Of Aplication:</p>
            }
            @if (ViewBag.RegisterTypeID == 13)
            {
                <p>Date Of Reciept Of Aplication::</p>

            }
            @if (ViewBag.RegisterTypeID == 14)
            {
                <p>Date Of Reciept Of Aplication::</p>

            }
            @if (ViewBag.RegisterTypeID == 15)
            {
                <p>Date Of Reciept Of Aplication:</p>

            }
            @if (ViewBag.RegisterTypeID == 16)
            {
                <p>Date Of Reciept Of Aplication:</p>

            }
          
        </th>
        <th>
            @if (ViewBag.RegisterTypeID == 12)
            {
                <p>Name And Address Of Application:</p>
            }
            @if (ViewBag.RegisterTypeID == 13)
            {
                <p>Name And Address Of Application:</p>

            }
            @if (ViewBag.RegisterTypeID == 14)
            {
                <p>Name And Address Of Application:</p>

            }
            @if (ViewBag.RegisterTypeID == 15)
            {
                <p>Name And Address Of Application:</p>

            }
            @if (ViewBag.RegisterTypeID == 16)
            {
                <p>Name And Address Of Application:</p>

            }        </th>
        <th>
            @if (ViewBag.RegisterTypeID == 12)
            {
                <p>Nature Of N.O.C.S/Certificate Applied For:</p>
            }
            @if (ViewBag.RegisterTypeID == 13)
            {
                <p>Nature Of N.O.C.S/Certificate Applied For:</p>

            }
            @if (ViewBag.RegisterTypeID == 14)
            {
                <p>Nature Of N.O.C.S/Certificate Applied For:</p>

            }
            @if (ViewBag.RegisterTypeID == 15)
            {
                <p>Nature Of N.O.C.S/Certificate Applied For:</p>

            }
            @if (ViewBag.RegisterTypeID == 16)
            {
                <p>Date Of V.P Register In Which Aplication Was Discussed :</p>

            }           </th>
        <th>
           
                <p>Date Of V.P meeting In Which Aplication Was Discussed :</p>
           
         </th>
        <th>
            @if (ViewBag.RegisterTypeID == 12)
            {
                <p>No Of Resolution:</p>
            }
            @if (ViewBag.RegisterTypeID == 13)
            {
                <p>No Of Resolution:</p>

            }
            @if (ViewBag.RegisterTypeID == 14)
            {
                <p>No Of Resolution:</p>

            }
            @if (ViewBag.RegisterTypeID == 15)
            {
                <p>No Of Resolution:</p>
            }
            @if (ViewBag.RegisterTypeID == 16)
            {
                <p>No Of Resolution:</p>

            }         </th>
        <th>
            @if (ViewBag.RegisterTypeID == 12)
            {
                <p>Whether Decide To Reject Or Issue:</p>
            }
            @if (ViewBag.RegisterTypeID == 13)
            {
                <p>Whether Decide To Reject Or Issue:</p>

            }
            @if (ViewBag.RegisterTypeID == 14)
            {
                <p>Whether Decide To Reject Or Issue:</p>

            }
            @if (ViewBag.RegisterTypeID == 15)
            {
                <p>Whether Decide To Reject Or Issue:</p>

            }
            @if (ViewBag.RegisterTypeID == 16)
            {
                <p>Whether Decide To Reject Or Issue:</p>

            }    
        </th>
        <th>
            @if (ViewBag.RegisterTypeID == 12)
            {
                <p>If Rejected Give Reason:</p>
            }
            @if (ViewBag.RegisterTypeID == 13)
            {
                <p>If Rejected Give Reason:</p>

            }
            @if (ViewBag.RegisterTypeID == 14)
            {
                <p>If Rejected Give Reason:</p>

            }
            @if (ViewBag.RegisterTypeID == 15)
            {
                <p>If Rejected Give Reason:</p>

            }
            @if (ViewBag.RegisterTypeID == 16)
            {
                <p>If Rejected Give Reason:</p>

            } 
        </th>
        <th>           
                <p>Date of Issue/ Communication to party:</p>           
        </th>
        <th>
           Remarks
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfReciept)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameAndAdressAppl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NatOfNoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfVp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfResolution)
        </td>
        <td>
            @((item.IssueOrReject?? false) ? "Issue" :"Reject")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RejectedReason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfComm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
      
        <td class="section-to-Not-print">
            @Html.ActionLink("Edit", "Edit", new { id=item.NocID }) 
        </td>
    </tr>
}

</table>

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, rt = (int)ViewBag.RegisterTypeID }))
