@model Panchayat.InOutRegsRecpt

@{
    ViewBag.Title = "Create";
}

<h2>New Form 6 Entry</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.Hidden("RegisterTypeID",(int) ViewBag.RegisterTypeID);
    <div class="form-horizontal">
        
        <hr />
        
        <div class="form-group">
            @Html.LabelFor(model => model.TDate, "Date of Aquisition",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TDate, new { htmlAttributes = new { @class = "form-control", type ="date"} })
                @Html.ValidationMessageFor(model => model.TDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PropertyParticulars,"Particulars of Property", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PropertyParticulars, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PropertyParticulars, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Value,"Price Paid", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            @Html.LabelFor(model => model.SituatedWhere, "Where Placed", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SituatedWhere, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SituatedWhere, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { rt=(int) ViewBag.RegisterTypeID})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
