@model Panchayat.InOutRegsRecpt

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div class="alert alert-danger">
    @if ((bool)ViewBag.isRVtoday)
    {
        @: <strong>Note!</strong> Please remember to Correct the corresponding receipt <a target="_blank" href="/Form4/Edit/@Model.RVno">here</a>
    }
    else
    {
        @: <strong>Note!</strong> Please remember to make a correction entry <a target="_blank" href="/Corrections/Create?RecieptNo=@Model.RVno">here</a>
    }
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>InOutRegsRecpt</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IORecptID)                
        @Html.HiddenFor(model => model.RVno)
        @Html.HiddenFor(model => model.RegisterTypeID)
        @Html.HiddenFor(model => model.TDate)

        <div class="form-group">
            @Html.LabelFor(model => model.PropertyParticulars, "Name of Contractor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PropertyParticulars, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PropertyParticulars, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepositPurpose, "Purpose of Deposit or Name of work", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DepositPurpose, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DepositPurpose, "", new { @class = "text-danger" })
            </div>
        </div>

       
        <div class="form-group">
            @Html.LabelFor(model => model.Value, "Amount", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { rt = Model.RegisterTypeID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
