@model Panchayat.Outward

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.Hidden("RegisterTypeID", (int)ViewBag.RegisterTypeID);
    <div class="form-horizontal">
        @if (ViewBag.RegisterTypeID == 3)
        {
            <h4>Outward Correspondence</h4>
        }
        @if (ViewBag.RegisterTypeID == 11)
        {
            <h4>Death Register</h4>
        }
    
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @if (ViewBag.RegisterTypeID == 3)
            {
                <label class="control-label col-md-2">Date Of Dispatch:</label>
            }
            @if (ViewBag.RegisterTypeID == 11)
            {
                <label class="control-label col-md-2">Date Of Death:</label>
            }
           
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfDisp, new { htmlAttributes = new { @class = "form-control", @Type = "date" } })
                @Html.ValidationMessageFor(model => model.DateOfDisp, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @if (ViewBag.RegisterTypeID == 3)
            {
                <label class="control-label col-md-2">To Whom Sent:</label>
                
            }
            @if (ViewBag.RegisterTypeID == 11)
            {
                <label class="control-label col-md-2">Name of Deceased:</label>
            }
            
            
            <div class="col-md-10">
                @Html.EditorFor(model => model.ToWhom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ToWhom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @if (ViewBag.RegisterTypeID == 3)
            {
                <label class="control-label col-md-2">File Reference No:</label>

            }
            @if (ViewBag.RegisterTypeID == 11)
            {
                <label class="control-label col-md-2">File Reference No:</label>
            }
            
            <div class="col-md-10">
                @Html.EditorFor(model => model.FileReferenceNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FileReferenceNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @if (ViewBag.RegisterTypeID == 3)
            {
                <label class="control-label col-md-2">File Reference Date:</label>

            }
            @if (ViewBag.RegisterTypeID == 11)
            {
                <label class="control-label col-md-2">File Reference Date:</label>
            }

          
            <div class="col-md-10">
                @Html.EditorFor(model => model.FileReferenceDate, new { htmlAttributes = new { @class = "form-control", @Type = "date" } })
                @Html.ValidationMessageFor(model => model.FileReferenceDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @if (ViewBag.RegisterTypeID == 3)
            {
                <label class="control-label col-md-2">Subject Matter:</label>

            }
            @if (ViewBag.RegisterTypeID == 11)
            {
                <label class="control-label col-md-2">Cause of Death:</label>
            }

           
            <div class="col-md-10">
                @Html.EditorFor(model => model.SubjectMatter, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubjectMatter, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @if (ViewBag.RegisterTypeID == 3)
            {
                <label class="control-label col-md-2">Postage Drawn:</label>

            <div class="col-md-10">
                @Html.EditorFor(model => model.PostageDrawn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostageDrawn, "", new { @class = "text-danger" })
            </div>
            }
        </div>

        <div class="form-group">
            @if (ViewBag.RegisterTypeID == 3)
            {
                <label class="control-label col-md-2">Postage Extended:</label>

            <div class="col-md-10">
                @Html.EditorFor(model => model.PostageExtended, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostageExtended, "", new { @class = "text-danger" })
            </div>
            }
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remark,"Remarks:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index",new { rt = (int)ViewBag.RegisterTypeID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
