@model PagedList.IPagedList<Panchayat.Outward>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    table {
        page-break-inside: auto
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto
    }

    thead {
        display: table-header-group
    }

    tfoot {
        display: table-footer-group
    }
</style>
<center>
    <h2 class="section-to-print">
        @if (ViewBag.RegisterTypeID == 3)
        {
            <p>Outward Corepondece</p>

        }
        @if (ViewBag.RegisterTypeID == 11)
        {
            <p>Death Register</p>
        }
    </h2>

<br />
    @using (Html.BeginForm("Index", "Outwards", FormMethod.Get))
    {
        @Html.Hidden("rt", (int)ViewBag.RegisterTypeID)
        <div class="row section-to-Not-print">
            <div>
                <table width="100%">
                    <tr>
                        <td></td>
                        <td align="right"> File Reference No:</td>
                        <td> @Html.TextBox("frn", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control col-md-3 input-sm" })</td>


                        <td align="right"> Date Of Dispatch:</td>
                        <td> @Html.TextBox("dod", ViewBag.CurrentFilter as string, new { type = "date", @class = "form-control" })</td>
                        <td align="right"> File Reference Date:</td>
                        <td> @Html.TextBox("frd", ViewBag.CurrentFilter as string, new { type = "date", @class = "form-control" })</td>

                        <td class="col-lg-1"></td>
                        <td><input type="submit" value="Search" class="btn btn-default" /></td>
                    </tr>
                </table>




            </div>
        </div>
    }
</center>

<br />
<p>
    @if (ViewBag.RegisterTypeID == 3)
    {
        @Html.ActionLink("Create New", "Create",new { rt=3})
    }
    @if (ViewBag.RegisterTypeID == 11)
    {
        @Html.ActionLink("Create New", "Create", new { rt = 11 })
    }
   
    <span class="pull-right">
        <input type="button" onclick="javascript:window.print();" value="Print" class="eabutton section-to-not-print" />
    </span>
</p>
<table class="table section-to-print">
    <tr>
        <th>Sr No</th>
        <th>
            @if (ViewBag.RegisterTypeID == 3)
            {
                    <p> Date Of Dispatch</p>            }
            @if (ViewBag.RegisterTypeID == 11)
            {
                <p> Date Of Death</p>        
            }
          
        </th>
        <th>
            @if (ViewBag.RegisterTypeID == 3)
            {
                <p> To Whom Sent</p>            }
            @if (ViewBag.RegisterTypeID == 11)
            {
                <p> Name of Person</p>
            }
        </th>
        <th>
            @if (ViewBag.RegisterTypeID == 3)
            {
                <p>  File Reference No</p>            }
            @if (ViewBag.RegisterTypeID == 11)
            {
                <p> File Reference No</p>
            }
          
        </th>
        <th>
            @if (ViewBag.RegisterTypeID == 3)
            {
                <p> File Reference Date</p>            }
            @if (ViewBag.RegisterTypeID == 11)
            {
                <p> Date Of File Ref.</p>
            }
           
        </th>
        <th>
            @if (ViewBag.RegisterTypeID == 3)
            {
                <p>   Subject Matter</p>            }
            @if (ViewBag.RegisterTypeID == 11)
            {
                <p>Subject Matter</p>
            }
         
        </th>
        <th>
            @if (ViewBag.RegisterTypeID == 3)
            {
                <p>  Postage Drawn</p>            }
            @if (ViewBag.RegisterTypeID == 11)
            {
                <p>Reported by</p>
            }

        </th>
        <th>
            @if (ViewBag.RegisterTypeID == 3)
            {
                <p>   Postage Extended</p>            }
            @if (ViewBag.RegisterTypeID == 11)
            {
                <p></p>
            }

        </th>
        <th>
          Remark
        </th>
  
        <th></th>
    </tr>
    <tr>
        @for (int c = 1; c < 10; c++)
            {
            <th>@c</th>
        }
        <th></th>
    </tr>
    @{ var i = 1;}
@foreach (var item in Model) {
    <tr>
        <td>
            @i
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfDisp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToWhom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileReferenceNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileReferenceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectMatter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostageDrawn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostageExtended)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
     
        <td class="section-to-Not-print">
            @Html.ActionLink("Edit", "Edit", new { id=item.OutwardID })           
        </td>
    </tr>
    i++;
}

</table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@if (ViewBag.RegisterTypeID == 3)
{
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, rt = 3 }))
}
@if (ViewBag.RegisterTypeID == 11)
{
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, rt = 11 }))
}