@model Panchayat.Holiday

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Holiday</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HolidayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HolidayName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HolidayID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
