@model Panchayat.ResidenceCertificate

@{
    ViewBag.Title = "Details";
}

<style>
     p{
         text-align:justify;
         }
 </style>
<div class="section-to-print ">
    <center>
       
        @if (Model.RegisterTypeID == 26)
        {
            <h4>Residence Certificate</h4>
            <hr />
            if (Model.IsDead == false)
            {
        <p class="col-md-12">
            After making due investigation, I the undersigned, @ViewBag.ph , 
            Sarpanch of Village Panchayat Taleigao, Taluka of Tiswadi, District of North-Goa,
            State of Goa, India, certify that Late<b> @Model.PersonName</b>, born on<b> @Model.BirthDate.Value.ToString("dd-mm-yyy")</b> at <b>@Model.BirthPlace</b>
            Son of <b>@Model.NameOfFather</b> and of <b>@Model.NameOfMother</b>, was residing at <b>@Model.Address</b>, of the Village of Taleigao,
            Taluka of Tiswadi, District of North Goa, State of Goa, India. He is residing in this Village of Taleigao since his
            birth till date, including the period from <b>1st January 1974 to 31st December 1975</b>.

        </p>
        <p class="col-md-12">
            I confirm that the photograph affixed below is of the applicant<b>@Model.PersonName</b> .
        </p>
        <p class="col-md-12">
            This certificate is issued at the request of <b>@Model.PersonName</b>
            to produce the same in the Conservatory of Central Registry at Lisbon, Portugal, to obtain Portuguese Nationality.
        </p>
        }
        else
        {
            <p class="col-md-12">
                After making due investigation, I the undersigned, @ViewBag.ph ,
                Sarpanch of Village Panchayat Taleigao, Taluka of Tiswadi, District of North-Goa,
                State of Goa, India, certify that Late<b> @Model.PersonName</b>, born on<b> @Model.BirthDate.Value.ToString("dd-mm-yyy")</b> at <b>@Model.BirthPlace</b>
                Son of <b>@Model.NameOfFather</b> and of <b>@Model.NameOfMother</b>, was residing at <b>@Model.Address</b>, of the Village of Taleigao,
                Taluka of Tiswadi, District of North Goa, State of Goa, India. He was residing in this Village of Taleigao 
                since @Model.Since till his death.

            </p>

            <p class="col-md-12">
                This certificate is issued at the request of <b>@Model.PersonName</b>
                to produce the same in the Conservatory of Central Registry at Lisbon, Portugal, to obtain Portuguese Nationality.
            </p>
        }
        <p class="col-md-12">
            Office of the Village Panchayat of Taleigao, Sub District of North Goa, State of Goa dated @Model.TDate.Value.ToString("dd-mm-yyyy").

        </p>
        }
        else
        {
            <div>
                <h4>Application For Birth/Death Certificate</h4>
                <p class="col-md-12 " style="text-align:right">
                   
                        Name <u>@Model.PersonName</u><br />
                        From <u>@Model.Address</u><br />
                        Date <u>@Model.TDate</u><br />
                   
                </p>
                <p class="col-md-12">
                   
                        To <u>Registrar Of Births & Deaths </u><br />
                        From <u>@Model.Address</u><br />
                        Date <u>@Model.TDate</u><br />
                  
                </p>
                <p class="col-md-12" style="text-align:center">
                    Sub : Application for Birth/Death Certificate
                </p>
                <p class="col-md-12">
                    Sir, <br />
                    &nbsp;&nbsp;&nbsp; I Shri/Smt <u>@Model.PersonName</u> here by apply For Birth/Death Certificate Of <u>@Model.NameOfMother</u>
                    Who was Born/Died on <u>@Model.BirthPlace</u> at <u>@Model.BirthPlace</u> and registered in your Office Under No <u>@Model.NameOfFather</u>
                    dated <u>@Model.Since</u>
                    <br />
                    <br />
                    <span class="pull-right">
                        Your's Faithfully<br />
                        <br />
                        <br />
                        (Signature)
                    </span>
                </p>

            </div>

        }
    </center>  
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ResidenceCertificateID }) |  <input type="button" onclick="javascript:window.print();" value="Print" class="eabutton section-to-not-print" />
     |
    @Html.ActionLink("Back to List", "Index", new { rt = 26 })
</p>
