@model IEnumerable<Panchayat.ResidenceCertificate>

@{
    ViewBag.Title = "Index";
}
<center>

    @if (ViewBag.RegisterTypeID == 26)
    {
        <h2 class="section-to-print"><b>Residence Certificate</b></h2>

    }
    else
    {
        <h2 class="section-to-print"><b>Birth and Death Certificate</b></h2>

    }
    @using (Html.BeginForm("Index", "ResidenceCertificates", FormMethod.Get))
    {


        <div class="row">
            <div>
                <table>
                    <tr>
                        @Html.Hidden("rt", (int)ViewBag.Rt)


                        <td> Name Of Person:</td>
                        <td> @Html.TextBox("PersonName", ViewBag.CurrentFilter as string, new { @class = "form-control" })</td>

                        <td>&nbsp; Status:</td>
                        <td> @Html.DropDownList("WebStatusID", null, new { type = "date", @class = "form-control" })</td>


                        <td>&nbsp;<input type="submit" value="Search" class="btn btn-default" /></td>
                    </tr>
                </table>




            </div>
        </div>
    }
</center>
<p>
    @Html.ActionLink("Create New", "Create", new { rt = ViewBag.Rt })
</p>
<table class="table">
    <tr>
        <th>
            Sr No
        </th>
        <th>
            Name
        </th>
        @if (ViewBag.Rt == 26)
        {
            <th>
                Birth Date
            </th>
            <th>
                Birth Place
            </th>
            <th>
                Name Of Mother
            </th>
            <th>
                Name Of Father
            </th>

        }
        else
        {
            <th>
                Birth/Death Date
            </th>
            <th>
                Death Place
            </th>
            <th>
                Birth/Death Of
            </th>
            <th>
                Registration No
            </th>
        }




        <th>
            Address
        </th>
        @if (ViewBag.Rt == 26)
        {
            <th>
                Living Since
            </th>
        }
        else
        {
            <th>
                Registration Date
            </th>
        }
        @if (ViewBag.Rt == 26)
        {
            <th>
                Reviewed on
            </th>
        }
        else
        {
            <th>
               Application Date
            </th>
        }

         

        
        <th>
            IsDead?
        </th>
       
        <th>
            Status
        </th>
        <th></th>
    </tr>
    @{int i = 0; }
@foreach (var item in Model) {
    <tr>
        <td>
            @i
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthPlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfMother)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfFather)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
     
     
            <td>
                @Html.DisplayFor(modelItem => item.Since)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TDate)

            </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.IsDead)
        </td>
 
  
        <td>
            @Html.DisplayFor(modelItem => item.WEBstatu.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResidenceCertificateID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResidenceCertificateID }) 
        </td>
    </tr>
    i++;
}

</table>
