@model Panchayat.DemandInitLoad

@{
    ViewBag.Title = "Create Demand";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.CitizenID)
    @Html.HiddenFor(model => model.SubLedgerID)
    <div class="form-horizontal">
        <h4>Demand</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CitizenID, "Citizen", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="CitizenID" name="Citizen" style="color:black;" data-autocomplete-idholder="#CitizenID" data-autocitizen-url="@Url.Action("AutoCompleteCitz")" class="form-control" value="@ViewBag.CitName" />                  
                @Html.ValidationMessageFor(model => model.CitizenID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HouseNo, "House No.", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="HouseNo" name="HouseNo" class="form-control" />                
                @Html.ValidationMessageFor(model => model.HouseNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubLedgerID, "SubLedger", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="SubLedgerID" name="SubLedger" style="color:black;" data-autocomplete-idholder="#SubLedgerID" data-autoledger-url="@Url.Action("AutoCompleteSubLedgs", new { IsIncome=true, HasDemand=true })" class="form-control" />                  
                @Html.ValidationMessageFor(model => model.SubLedgerID, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Amt, "Amount",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">                
                @Html.TextAreaFor(model => model.Remarks, 3,80, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
            </div>
        </div>
        


        <div class="MastDet">
            <div id="CLDdiv">&nbsp;</div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<h3>Details for the Current period</h3>
<div id="ExistingDataDiv">
    @if (Model.CitizenID != null)
    {
        @Html.Action("FetchCitDmd", "Citizens", new { id = Model.CitizenID })
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $(document).ready(function () {
        $('*[data-autoledger-url]')
            .each(function () {
                $(this).autocomplete({
                    source: $(this).data("autoledger-url"),
                    minLenght: 3,
                    delay: 500,
                    select: function (event, ui) {
                        //save the Subledger ID
                        $($(this).data("autocomplete-idholder")).val(ui.item.id);

                        //Clear the contents of the placeholder Div
                        $('#CLDdiv').html("");

                        //Put our dynamic fields in the placeholder div
                        $('#CLDdiv').load(
                                '@Url.Action("CreateDmdLedgDetsPartial")',
                                { id: ui.item.id }
                            );

                        }
                    });
                });
    });


    $(document).ready(function () {
            $('*[data-autocitizen-url]')
                .each(function () {
                    $(this).autocomplete({
                        source: $(this).data("autocitizen-url"),
                        minLenght: 3,
                        delay: 500,
                        select: function (event, ui) {
                            //save the Citizen ID
                            $($(this).data("autocomplete-idholder")).val(ui.item.id);

                            //Clear the contents of the placeholder Div
                            $('#ExistingDataDiv').html("");

                            //Put our dynamic fields in the placeholder div
                            $('#ExistingDataDiv').load(
                                '@Url.Action("FetchCitDmd", "Citizens")',
                                { id: ui.item.id }
                            );

                        }
                    });
                });
    });

    $(document).ready(function () {
        $('#HouseNo').blur(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getHouseRemark")', 
                data: { Cit: $('#CitizenID').val(), Hou: $(this).val() },
                success: function (result) {
                    $('#Remarks').val(result);
                }
            }
            )
        });
    });

    </script>

   
}
