@model IEnumerable<Panchayat.Period>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FromYr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToYr)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FromYr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToYr)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PeriodID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PeriodID }) 
            
        </td>
    </tr>
}

</table>
