@model PagedList.IPagedList<Panchayat.Audit>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Audit";
}
<center>
 <h1 style="visibility:hidden"><font style="font-size:17px"class="section-to-print">Village Panchayat___________</font></h1>
    <h2 class="section-to-print" style="visibility:hidden"><u style="font-size:15px">Audit Register</u>
    <br />
        <span class="pull-right " style="visibility:hidden"> <font style="font-size:15px" >Year Of Audit___________</font></span> 
    </h2>
        <h2 class="section-to-Not-print "><u style="font-size:25px">Audit Register</u>


    </h2>
    <br />

    @using (Html.BeginForm("Index", "Audits", FormMethod.Get))
    {
        <div class="row section-to-Not-print">
            <div>
                <table>
                    <tr>
                        <td></td>
                        <td> Audit No:</td>
                        <td> @Html.TextBox("No", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control col-md-3 input-sm" })</td>


                        <td> Year:</td>
                        <td> @Html.DropDownList("Year", (IEnumerable<SelectListItem>)ViewBag.YearBox, htmlAttributes: new { @class = "form-control col-md-3 input-sm" })</td>
                        <td class="col-lg-1"></td>
                        <td><input type="submit" value="Search" class="btn btn-default" /></td>
                    </tr>
                </table>




            </div>
        </div>
    }
</center>
<br />
<p class="section-to-Not-print">
    @Html.ActionLink("Create New", "Create")
    <span class="pull-right">
        <input type="button" onclick="javascript:window.print();" value="Print" class="eabutton section-to-not-print" />
    </span>
</p>
<table class="table section-to-print">
    <tr>
        <th>
            Sr No.
        </th>
        <th>
            Audit No
        </th>
        <th>
            List Of Audit Objection
        </th>
        <th>
          Actions Taken
        </th>
        <th class="section-to-Not-print">
           year
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AuditID)


        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuditNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListOfAuditObjection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActionsTaken)
        </td>
        <td class="section-to-Not-print">
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td class="section-to-Not-print">
            @Html.ActionLink("Edit", "Edit", new { id=item.AuditID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AuditID }) |
           
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, LedgerID = ViewBag.LedgerID }))