@model IEnumerable<RVReport>





<style type="text/css">
    table {
        page-break-inside: auto
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto
    }

    thead {
        display: table-header-group
    }

    tfoot {
        display: table-footer-group
    }
</style>
<center>
    <h3 class="section-to-print">Earnest Money Desposit Register</h3>
</center>
<input type="button" onclick="javascript:window.print();" value="Print" class="eabutton section-to-not-print" />
<table class="table section-to-print">
    <thead>
        <tr>
            <th>
                Sr No
            </th>
            <th>Name Of contractor</th>
            <th>
                Purpose Of Deposit or
                Name Of Work
            </th>
            <th>Receipt No & Date</th>
            <th>
                Ant. of E.M.D Recieved
            </th>
            <th>
                Voucher No. & Date of E.M.D Refunded
            </th>

            <th>
                Amount Refunded
            </th>
            <th>
                Reason For Refund E.M.D
            </th>

            <th>
                Remarks
            </th>
        </tr>
    </thead>
    <tbody>
        @{ var i = 1; }
        @foreach (RVReport item in Model)
        {

            <tr>
                <td>@i</td>
                <td>@Html.DisplayFor(modelItem => item.DetailData["Name Of Contractor"])</td>
                <td>@Html.DisplayFor(modelItem => item.DetailData["Name Of Work"])</td>
                <td>@Html.DisplayFor(modelItem => item.RVid) @Html.DisplayFor(modelItem => item.Tdate)</td>
                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                <td>@Html.DisplayFor(modelItem => item.RVid) @Html.DisplayFor(modelItem => item.Tdate)</td>
                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                <td>@Html.DisplayFor(modelItem => item.DetailData["Reason For Refund"])</td>

                <td>@Html.DisplayFor(modelItem => item.DetailData["Remark"])</td>
            </tr>
            i++;
        }
    </tbody>
</table>

