@model IEnumerable<RVReport>





<style type="text/css">
    table {
        page-break-inside: auto
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto
    }

    thead {
        display: table-header-group
    }

    tfoot {
        display: table-footer-group
    }
</style>
<center>
    <h3 class="section-to-print">INCOME TAX COLLECTION REGISTER</h3>
</center>
<input type="button" onclick="javascript:window.print();" value="Print" class="eabutton section-to-not-print" />
<table class="table section-to-print">
    <thead>
        <tr style="border: solid thin">
            <th rowspan="2">
                Sr No
            </th>
            <th rowspan="2">
                Name Of Contractor
            </th>
            <th rowspan="2">
                Name Of Work
            </th>
            <th rowspan="2">
                Valuation Certificate No.Reciept No. Date
            </th>
            <th rowspan="2">
                Amount Of Sales Tax/Vat Tax
            </th>
            <th colspan="3" style="border: solid thin">
                Details of tax credited to bank
            </th>

            <th rowspan="2">
                Challan No
            </th>
            <th rowspan="2">
                Remarks
            </th>

        </tr>
        <tr style="border: solid thin">

            <th>
                Details Of Name Of Bank
            </th>
            <th>
                Date Of Credit
            </th>
            <th>
                Amount
            </th>

        </tr>
    </thead>
    <tbody>
        @{ var i = 1; }
        @foreach (RVReport item in Model)
        {

            <tr>
                <td>@i</td>
                <td>@Html.DisplayFor(modelItem => item.PayeeName )</td>
                <td>@Html.DisplayFor(modelItem => item.DetailData["Name Of Work"])</td>
                <td>@Html.DisplayFor(modelItem => item.RVid),@Html.DisplayFor(modelItem => item.Tdate)</td>
                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                <td>@Html.DisplayFor(modelItem => item.DetailData["Details Of Name Of Bank"])</td>
                <td>@Html.DisplayFor(modelItem => item.Tdate)</td>
                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                <td>@Html.DisplayFor(modelItem => item.DetailData["Challan No"])</td>
                <td>@Html.DisplayFor(modelItem => item.DetailData["Remark"])</td>
            </tr>
            i++;
        }
    </tbody>
</table>

