@model IEnumerable<RVReport>





<style type="text/css">
    table {
        page-break-inside: auto
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto
    }

    thead {
        display: table-header-group
    }

    tfoot {
        display: table-footer-group
    }
</style>
<center>
    <h3 class="section-to-print">ROYALTY REGISTER</h3>
</center>
<input type="button" onclick="javascript:window.print();" value="Print" class="eabutton section-to-not-print" />
<table class="table section-to-print">
    <thead>
        <tr>
            <th>
                Sr No
            </th>
            <th>Name Of contractor</th>
            <th>
                Name Of Work
            </th>
            <th>Valuation Certificate No.Reciept No. Date</th>
            <th>
                Amount Of Royalty Collected
            </th>
            <th>
               Name Of Bank
            </th>
            <th>
                Date Of Credit
            </th>
            <th>
                Amount 
            </th>
            <th>
                Challan No
            </th>
            <th>
                Amount Balance
            </th>
            <th>
                Remark
            </th>
        </tr>
    </thead>
    <tbody>
        @{ var i = 1; }
        @foreach (RVReport item in Model)
        {

            <tr>
                <td>@i</td>
                <td>@Html.DisplayFor(modelItem => item.DetailData["Name Of Contractor"])</td>
                <td>@Html.DisplayFor(modelItem => item.DetailData["Name Of Work"])</td>
                <td>@Html.DisplayFor(modelItem => item.RVid),@Html.DisplayFor(modelItem => item.Tdate)</td>
                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                <td>@Html.DisplayFor(modelItem => item.DetailData["Details Of Name Of Bank"])</td>
                <td>@Html.DisplayFor(modelItem => item.Tdate)</td>
                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                <td>@Html.DisplayFor(modelItem => item.DetailData["Challan No"])</td>
                <td>0.0</td>
                <td>@Html.DisplayFor(modelItem => item.DetailData["Remark"])</td>
            </tr>
            i++;
        }
    </tbody>
</table>

