@model PagedList.IPagedList<Panchayat.Meeting>
  @using PagedList.Mvc;

    @{
        ViewBag.Title = "Index";
    }
<style type="text/css">
    table {
        page-break-inside: auto
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto
    }

    thead {
        display: table-header-group
    }

    tfoot {
        display: table-footer-group
    }
</style>
<center>
    <h2 >
        @if (ViewBag.RegisterTypeID == 1)
        {
            <p class="section-to-Not-print">Meeting</p>
            <p class="section-to-print" style="visibility:hidden"><font style="font-size:large">Proceeding Of The_______________ Meeting</font></p>
            <p>
        <span class="pull-right section-to-print" style="visibility:hidden"><font style="font-size:18px">Village Panchayat:___________</font></span>
        
        </p>
        }
        @if (ViewBag.RegisterTypeID == 10)
        {
            <p class="section-to-Not-print">Gram Sabha</p>
            <p class="section-to-print" style="visibility:hidden"><font style="font-size:large">Proceeding Of The_______________ Gram Sabha Meeting</font></p>
            <p>
                <span class="pull-right section-to-print" style="visibility:hidden"><font style="font-size:15px">Village Panchayat:___________</font></span>

            </p>
        }
    </h2>
    <br class="section-to-Not-print" />
    @using (Html.BeginForm("Index", "Meetings", FormMethod.Get))
    {

        @Html.Hidden("rt", (int)ViewBag.RegisterTypeID)
        <div class="row  class="section-to-Not-print"">
            <div>
                <table>
                    <tr>
                        <td></td>
                        <td> Proposer Name:</td>
                        <td> @Html.TextBox("pn", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control col-md-3 input-sm" })</td>


                        <td> Meeting Date:</td>
                        <td> @Html.TextBox("md", ViewBag.CurrentFilter as string, new { type = "date", @class = "form-control" })</td>

                        <td class="col-lg-1"></td>
                        <td><input type="submit" value="Search" class="btn btn-default" /></td>
                    </tr>
                </table>




            </div>
        </div>
    }
</center>
<br class="section-to-Not-print" />
    <p  class="section-to-Not-print">
    @if (ViewBag.RegisterTypeID == 1)
    {
    <p>@Html.ActionLink("Create New", "Create", new { rt = 1 })</p>
    }
    @if (ViewBag.RegisterTypeID == 10)
    {
        <p>@Html.ActionLink("Create New", "Create", new { rt = 8 }) </p>
    }
        <span class="pull-right">
            <input type="button" onclick="javascript:window.print();" value="Print" class="eabutton section-to-not-print" />
        </span>
    </p>
    <table class="table section-to-print">
        <tr>
            <th>
                Subject
            </th>
            <th>
               Proposer Name
            </th>
            <th>
              Proposal Or Amendment
            </th>
            <th>
               For
            </th>
            <th>
               Against
            </th>
            <th>
               Meeting Date
            </th>
            <th>
               Resolution
            </th>
            <th>
               Remark
            </th>
           
            <th></th>
        </tr><tr>
    <th>
      1
    </th>
    <th>
      2
    </th>
    <th>
      3
    </th>
    <th>
      4
    </th>
    <th>
      5
    </th>
    <th>
      6
    </th>
    <th>
      7
    </th>
    <th>
      8
    </th>

    <th></th>
</tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProposerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PropOrAmend)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.For)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Against)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeetingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resolution)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
          
                <td class="section-to-Not-print">
                    @Html.ActionLink("Edit", "Edit", new { id = item.MeetingID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MeetingID }) |
                
                </td>
            </tr>
        }

    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@if (ViewBag.RegisterTypeID == 1)
{
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, rt = 1 }))}
@if (ViewBag.RegisterTypeID == 10)
{
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, rt = 8 }))}
