@model Panchayat.InvItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InvItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisterType.RegisterType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterType.RegisterType1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inventory.ItemID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inventory.ItemID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
