@model PagedList.IPagedList<Panchayat.Citizen>
@using PagedList.Mvc;

@{
    ViewBag.Title = Panchayat.MyExtensions.GetTitle(GetType().Name);
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Citizens", FormMethod.Get))
{
    <p>
        Find by First-name or Nickname: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ResAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CitizenID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CitizenID }) 
           
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, CitizenID = ViewBag.CitizenID }))