@model Panchayat.InOutRegsRecpt

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<div id="CurrInv">&nbsp;</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.Hidden("RegisterTypeID", (int)ViewBag.RegisterTypeID);
    @Html.HiddenFor(model => model.ItemID);

    <div class="form-horizontal">
        @if (ViewBag.RegisterTypeID == 17)
        {
            <h4>Stationary</h4>
        }
        @if (ViewBag.RegisterTypeID == 18)
        {
            <h4>Stamp</h4>
        }
        @if (ViewBag.RegisterTypeID == 19)
        {
            <h4>DeadStock</h4>
        }
        @if (ViewBag.RegisterTypeID == 20)
        {
            <h4>Street Light Articles</h4>

        }
        @if (ViewBag.RegisterTypeID == 21)
        {
            <h4>Form 9</h4>
        }
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @if (ViewBag.RegisterTypeID == 21)
            {
                @Html.Hidden("ItemID", 4)

                if (ViewBag.IORcpt != null)
                {
               @Html.Hidden("IORecptID", (int)ViewBag.IORcpt);
                }
            }
            else
            {
                <label class="control-label col-md-2">Item</label>
                <div class="col-md-10">
                    <input type="text" id="Item" name="Item" style="color:black;" data-autocomplete-idholder="#ItemID" data-autoItem-url="@Url.Action("AutoCompleteInvItems","InvItems")" class="form-control" />                    
                    @Html.ValidationMessageFor(model => model.ItemID, "", new { @class = "text-danger" })
                </div>

            }
          
        </div>

        <div class="form-group">
            @if (ViewBag.RegisterTypeID == 21)
            {
          

            }
            else
            {
                <label class="control-label col-md-2">Quantity </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Qty, new { htmlAttributes = new { @class = "form-control", min=0 } })
                    @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })
                </div>

            }
           
        
        </div>

        <div class="form-group">
            @if (ViewBag.RegisterTypeID == 21)
            {
                <label class="control-label col-md-2">Amount</label>
            }
            else
            {
                <label class="control-label col-md-2">Value per unit</label>

            }
            <div class="col-md-10">
                @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { rt = (int)ViewBag.RegisterTypeID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            src = '@Url.Action("AutoCompleteInvItems", "InvItems")';

            $("#Item").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: src,
                        dataType: "json",
                        data: {
                            term: request.term,
                            rt: $('#RegisterTypeID').val()
                        },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                min_length: 3,
                delay: 300,
                select: function (event, ui) {
                    $('#ItemID').val(ui.item.id);

                    $('#CurrInv').html("");
                     $('#CurrInv').load(
                                '@Url.Action("_CurrInv", "InvItems")',
                                { id: ui.item.id }
                            );

                }
            });

    });



    </script>

}
