@model IEnumerable<Panchayat.VPRent>

@{
    ViewBag.Title = "Rent Register";
}

<center>
    <h2 class="section-to-print"><b>RENT REGISTER</b></h2>
    
    @using (Html.BeginForm("Index", "VPRents", FormMethod.Get))
    {        
        <div class="row section-to-Not-print">
            <div>
                <table>
                    <tr style="text-align:center">
                        <td></td>
                        <td>&nbsp; Year:</td>
                        <td>@Html.DropDownList("yr", (IEnumerable<SelectListItem>)ViewBag.YearBox, htmlAttributes: new { @class = "form-control input-sm" })</td>

                        <td>&nbsp; Rent Payer name:</td>
                        <td> @Html.TextBox("PropName", ViewBag.CurrentFilter as string, new { @class = "form-control" })</td>

                        <td class="col-lg-1"></td>
                        <td><input type="submit" value="Search" class="btn btn-default" /></td>
                    </tr>
                </table>
            </div>
        </div>
    }
</center>

<p class="section-to-Not-print">
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Show Register", "IndexDet",new { yr = (int)ViewBag.yr })
    <input type="button" onclick="javascript:window.print();" value="Print" class="eabutton section-to-not-print" />
</p>
<table class="table section-to-print">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RentYear)
        </th>
        <th>
            Rent Payer Name
        </th>
        <th>
            Rented Property Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RentYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentPayerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentedPropertyName)
        </td>
        <td class="section-to-Not-print">
            @Html.ActionLink("Edit", "Edit", new { id=item.VPRentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VPRentID }) 
        </td>
    </tr>
}

</table>
