@model Panchayat.HouseTaxCert

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @if (ViewBag.RegisterTypeID ==27)
        {
            <h4>Residence Certificate</h4>
        }
        @if (ViewBag.RegisterTypeID == 28)
        { 
            <h4>Trade NOC</h4>
        }
        @if (ViewBag.RegisterTypeID == 29)
        {
            <h4>House Repair</h4>
        }
        @if (ViewBag.RegisterTypeID == 30)
        {
            <h4> Trade NOC(II)</h4>
        }
        @if (ViewBag.RegisterTypeID == 31)
        {
            <h4>Occupation Certificate</h4>
        }
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.HouseTaxCertID)
        @Html.HiddenFor(model => model.Tdate)


        @Html.HiddenFor(model => model.RegisterTypeID)
        @Html.HiddenFor(model => model.UserID)


        @Html.HiddenFor(model => model.UserID)


        <div class="form-group">
            @Html.LabelFor(model => model.PersonName, "Name Of Person", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PersonName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonName, "", new { @class = "text-danger" })
            </div>
        </div>
      
        @if (ViewBag.RegisterTypeID != 29 && ViewBag.RegisterTypeID != 30)
        {
            <div class="form-group">

                @if (ViewBag.RegisterTypeID == 28 && ViewBag.RegisterTypeID != 30 && ViewBag.RegisterTypeID != 31)
                {
                    @Html.LabelFor(model => model.WardNo, "Ref No", htmlAttributes: new { @class = "control-label col-md-2" })
                }
                else
                {
                    @Html.LabelFor(model => model.WardNo, "Ward No", htmlAttributes: new { @class = "control-label col-md-2" })

                }
                @if ( ViewBag.RegisterTypeID == 31)
                {
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.WardNo, new { htmlAttributes = new { @type ="date",@class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WardNo, "", new { @class = "text-danger" })
                    </div> 
                }
                else
                {
                    <div class="col-md-10">
                    @Html.EditorFor(model => model.WardNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.WardNo, "", new { @class = "text-danger" })
                </div>
                }
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.PersonAddress, "Address", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.PersonAddress, 4, 43, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MeetingDate, "Meeting Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MeetingDate, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MeetingDate, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (ViewBag.RegisterTypeID != 28 && ViewBag.RegisterTypeID != 29 && ViewBag.RegisterTypeID != 30 && ViewBag.RegisterTypeID != 31)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.PrevPersonName, "Current House Tax Holder", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PrevPersonName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PrevPersonName, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.Fees, "Fees", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fees, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fees, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (ViewBag.RegisterTypeID != 29)
        {
            if (ViewBag.RegistetrTypeID != 28 && ViewBag.RegisterTypeID != 30)
            {
                <div class="form-group">
                    @if (ViewBag.RegisterTypeID == 31)
                    {
                        @Html.LabelFor(model => model.DeveloperName, "Name Of Bussiness", htmlAttributes: new { @class = "control-label col-md-2" })
                    }
                    else
                    {
                        @Html.LabelFor(model => model.DeveloperName, "Developer Name", htmlAttributes: new { @class = "control-label col-md-2" })

                    }            <div class="col-md-10">
                        @Html.EditorFor(model => model.DeveloperName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DeveloperName, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            <div class="form-group">
                @if (ViewBag.RegisterTypeID == 31)
                {
                    @Html.LabelFor(model => model.DeveloperAddress, "What Kind Of Bussiness", htmlAttributes: new { @class = "control-label col-md-2" })
                }
                else if (ViewBag.RegisterTypeID == 28)
                {
                    @Html.LabelFor(model => model.DeveloperAddress, "Bussiness Location", htmlAttributes: new { @class = "control-label col-md-2" })
                }
                else if (ViewBag.RegisterTypeID == 30)
                {
                    @Html.LabelFor(model => model.DeveloperAddress, "Items To Sell", htmlAttributes: new { @class = "control-label col-md-2" })
                }
                else
                {
                    @Html.LabelFor(model => model.DeveloperAddress, "Developer Address", htmlAttributes: new { @class = "control-label col-md-2" })

                }              <div class="col-md-10">
                    @Html.TextAreaFor(model => model.DeveloperAddress, 4, 43, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DeveloperAddress, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.WEBstatusID, "WebStatusID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("WebStatusID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.WEBstatusID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
