@model IEnumerable<Panchayat.HouseTaxCert>

@{
    ViewBag.Title = "Index";
}
<center>
  
    @if (ViewBag.Rt==27)
    {
     <h2>House Tax Transfer</h2>
    }
    @if (ViewBag.Rt == 28)
    {
     <h2>Trade Certificate</h2>
    }
    @if (ViewBag.Rt == 29)
    {
        <h2>House Repair License</h2>
    }
    @if (ViewBag.Rt == 30)
    {
        <h2>Trade Certificate(II)</h2>
    }
    @if (ViewBag.Rt == 31)
    {
        <h2>Occupation Certificate</h2>
    }

    @using (Html.BeginForm("Index", "HouseTaxCerts", FormMethod.Get))
    {


        <div class="row">
            <div>
                <table>
                    <tr>
                        @Html.Hidden("rt", (int)ViewBag.Rt)


                        <td> Name Of Person:</td>
                        <td> @Html.TextBox("PersonName", ViewBag.CurrentFilter as string, new { @class = "form-control" })</td>

                        <td>&nbsp; Status:</td>
                        <td> @Html.DropDownList("WebStatusID", null, new { type = "date", @class = "form-control" })</td>


                        <td>&nbsp;<input type="submit" value="Search" class="btn btn-default" /></td>
                    </tr>
                </table>




            </div>
        </div>
    }
</center>
<p>
    @Html.ActionLink("Create New", "Create", new { rt = ViewBag.Rt })
</p>
<table class="table">
    <tr>
        <th>
            Name Of Person
        </th>
        @if (ViewBag.Rt != 29  && ViewBag.Rt != 30 )
        {
            if (ViewBag.Rt == 28)
            {
            <th>
               Ref No
            </th>
            }
            if (ViewBag.Rt == 31)
            {
                <th>
                    License Agreement date
                </th>
            }
            if (ViewBag.Rt == 27)
            {
                <th>
                    Ward No
                </th>
            }
        }
        <th>
            Person Address
        </th>
       @if (ViewBag.Rt != 28 && ViewBag.Rt != 29 && ViewBag.Rt != 30)
        {
        <th>
          Date
        </th>
        }
        <th>
         Meeting Date
        </th>
        @if (ViewBag.Rt != 28 &&  ViewBag.Rt != 29 && ViewBag.Rt != 30 && ViewBag.Rt != 31)
         {
        <th>
          Current House Tax Holder
        </th>
          }
        <th>
           Fees
        </th>
        @if (ViewBag.Rt != 29  )
        {
            if (ViewBag.Rt != 28 && ViewBag.Rt != 30)
            {
                if (ViewBag.Rt != 31)
                {
                <th>
                    Developer Name
                </th>
                    }
                    else
                    {
                <th>
                    Name Of Bussiness
                </th>
                }
            }
            if (ViewBag.Rt != 31 && ViewBag.Rt != 28 && ViewBag.Rt != 30)
            {
                <th>
                    Developer Address
                </th>
            }
            else if(ViewBag.Rt == 28)
            {
               <th>
                    Bussiness Location
               </th>
            }
            else if (ViewBag.Rt == 30)
            {
                <th>
                    Items To Sell
                </th>
            }
            else
            {
                <th>
                   Bussiness
                </th>
            }
        }
     
        <th>
            @Html.DisplayNameFor(model => model.WEBstatu.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PersonName)
        </td>
        @if (ViewBag.Rt != 29 && ViewBag.Rt != 30 && ViewBag.Rt != 30)
        {
            <td>
                @Html.DisplayFor(modelItem => item.WardNo)
            </td>
        }
        

        <td>
            @Html.DisplayFor(modelItem => item.PersonAddress)
        </td>
@if (ViewBag.Rt != 28  && ViewBag.Rt != 29 && ViewBag.Rt != 30)
{
        <td>
            @Html.DisplayFor(modelItem => item.Tdate)
        </td>
}
        <td>
            @Html.DisplayFor(modelItem => item.MeetingDate)
        </td>
@if (ViewBag.Rt != 28 && ViewBag.Rt != 29 && ViewBag.Rt != 30 && ViewBag.Rt != 31)
{
        <td>
            @Html.DisplayFor(modelItem => item.PrevPersonName)
        </td>
}
        <td>
            @Html.DisplayFor(modelItem => item.Fees)
        </td>
@if (ViewBag.Rt != 29)
{
    if (ViewBag.Rt != 28 && ViewBag.Rt != 30)
    {
        <td>
            @Html.DisplayFor(modelItem => item.DeveloperName)
        </td>
    }
        <td>
            @Html.DisplayFor(modelItem => item.DeveloperAddress)
        </td>
}
    
       
  
        <td>
            @Html.DisplayFor(modelItem => item.WEBstatu.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HouseTaxCertID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HouseTaxCertID }) 
        </td>
    </tr>
}

</table>
