@model Panchayat.LedgerDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LedgerDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LedgerDetail1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LedgerDetail1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubLedger.Ledger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubLedger.Ledger)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LedgerDetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
